<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Home</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li><a class="important" routerLink="about">About</a></li>
      <li><a class="important" routerLink="finder">Find a Comedian</a></li>
      <li><a class="important" routerLink="admin">Admin</a></li>
    </ul>
  </div>
</nav>


<div style="text-align:center " class="containter">
  <h1 style="font-weight:bold">
    {{title}}
  </h1>
  <router-outlet></router-outlet>
</div>
