/* You can add global styles to this file, and also import other style files */

.important, a.navbar-brand {
  color: white !important;
  font-weight: bold;

}

.important:hover, a.navbar-brand:hover {
  color: #D8D8D8 !important;
}

body, div.panel-heading, div.panel.panel-default, .container-fluid {
  background-color: #7A9191 !important;
  border:hidden;
}

h3.panel-title {
  font-size: 25px;
}

em:hover {
  color: #D8D8D8;
}
